html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #d32f2f; 
    color: rgb(98, 98, 98); /* Cor do texto no cabeçalho */
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: white; 
    text-decoration: none;
}

.container-tres-colunas {
    display: flex;
    max-width: 960px; 
    margin: 20px auto; 
}

.esquerda, .centro {
    flex: 1; 
    padding: 20px;
}

.centro {
    border-left: 1px solid #ccc; 
    border-right: 1px solid #ccc;
}

.centro header {
    background-color: #f5f5f5; 
    padding: 10px;
    text-align: center;
}

.centro footer {
    background-color: #f5f5f5; 
    padding: 10px;
    text-align: center;
}
.f1{
    background-color: #333; 
    color: white;
    text-align: center;
    padding: 10px;
}

.esquerda img { 
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.centro h3 { 
    color: #d32f2f; 
}




.direita li {
    margin-bottom: 10px; 
    padding: 8px 12px;
    border-radius: 5px; 
    transition: background-color 0.3s; 
    text-align: center;
    display: block; 
    width: 100%; 
}




.direita h3 { /* Título "Navegação" */
    font-size: 1.2em;
    margin-bottom: 15px;
}

.direita ul {
    list-style: none; /* Remove marcadores */
    padding: 0;
    margin: 0;
}

.direita li {
    margin-bottom: 8px; 
}

.direita a {
    color: #333; 
    text-decoration: none;
    font-weight: bold; /* Texto em negrito */
    transition: color 0.3s; /* Transição suave para a cor no hover */
}

.direita a:hover {
    color: #d32f2f; /* Cor vermelha no hover */
}


.botao-reserva {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d32f2f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.botao-reserva:hover {
    background-color: #b71c1c; /* Cor mais escura no hover */
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 10%;
    transition: transform 0.3s ease; /* Adiciona uma transição suave para a transformação */
}

img:hover {
    transform: scale(1.05); /* Aumenta levemente a escala da imagem ao passar o mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra mais pronunciada ao passar o mouse */
}